<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false" >
  <!-- 
   <parameter name="browser" value="firefox"/>
   <parameter name="browser" value="ie"/>
   <parameter name="browser" value="chrome"/> 
   
   <parameter name="url" value="www.github.com"/>
   <parameter name="username" value="PavanEpam"/>
   <parameter name="password" value="Epam1234"/>  
    -->  
        <parameter name="browser" value="firefox"/>
    	<parameter name="url" value="https://github.com/login"/>
   		<parameter name="username" value="PavanEpam"/>
   		<parameter name="password" value="Epam1234"/> 
    <test name="firefoxtest" preserve-order="true">

   		
        <classes>
        	<class name="Webservice.ExecuteTestSuiteWithXmlTestData"/>
            <!-- <class name="Tests.LoginTest"/> -->
           <!-- <class name="Tests.CreateNewReposityTest"/>   -->        
        </classes>
        </test>      
       <!--   
        <test name="chrometest" preserve-order="true">
         <parameter name="browser" value="chrome"/> 
          <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.CreateNewReposityTest"/>
        </classes>
    </test>
        <test name="ietest" preserve-order="true">
         <parameter name="browser" value="iebrowser"/> 
          <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.CreateNewReposityTest"/>
        </classes>
    </test>-->
</suite>
